 :root {

   /* Minimal Functional Fox variables*/
  --mff-bg: #1D2021;
  --mff-icon-color: #ea6962;
  --mff-nav-toolbar-padding: 8px;
  --mff-sidebar-bg: var(--mff-bg);
  --mff-sidebar-color: #1D2021;
  --mff-tab-border-radius: 0px;
  --mff-tab-color: #e0fbfc;
  --mff-tab-font-family: "Cantarell", serif;
  --mff-tab-font-size: 11pt;
  --mff-tab-font-weight: 400;
  --mff-tab-height: 32px;
  --mff-tab-pinned-bg: #EA6962;
  --mff-tab-selected-bg: #ee6c4d;
  --mff-tab-soundplaying-bg: #9c89b8;
  --mff-urlbar-color: #98c1d9;
  --mff-urlbar-focused-color: #e0fbfc;
  --mff-urlbar-font-family: "Cantarell", serif;
  --mff-urlbar-font-size: 12pt;
  --mff-urlbar-font-weight: 700;
  --mff-urlbar-results-color: #e0fbfc;
  --mff-urlbar-results-font-family: "Cantarell", serif;
  --mff-urlbar-results-font-size: 12pt;
  --mff-urlbar-results-font-weight: 700;
  --mff-urlbar-results-url-color: #98c1d9;
  /*   --mff-tab-selected-bg: linear-gradient(90deg, rgba(232,74,95,1) 0%, rgba(255,132,124,1) 50%, rgba(254,206,168,1) 100%); */
  /*   --mff-urlbar-font-weight: 600; */

  /* Overriden Firefox variables*/
  --autocomplete-popup-background: var(--mff-bg) !important;
  --default-arrowpanel-background: var(--mff-bg) !important;
  --default-arrowpanel-color: #fefefa !important;
  --lwt-toolbarbutton-icon-fill: var(--mff-icon-color) !important;
  --panel-disabled-color: #f9f9fa80;
  --toolbar-bgcolor: var(--mff-bg) !important;
  --urlbar-separator-color: transparent !important;
}

.tab-icon-stack .tab-icon-image[src="chrome://branding/content/icon32.png"]{
	background:url("Archlinux.svg")!important;
	background-size: 16px !important;
	padding-left: 16px !important;
}

#page-action-buttons {
    display: none !important;
}

#PanelUI-button {
    display: none !important;
}

.tab-background[selected="true"] {
    background: var(--mff-tab-selected-bg) !important;
}

#tabbrowser-tabs {
    --tab-line-color: none !important; /*or transparent */
    -moz-box-ordinal-group: 3 !important;
}

/*"Medidas menores para scroll de pestañas"*/
#tabbrowser-tabs{ --uc-tabs-scrollbutton-border: 2px }

#urlbar-results {
  font-family: var(--mff-urlbar-results-font-family);
  font-weight: var(--mff-urlbar-results-font-weight);
  font-size: var(--mff-urlbar-results-font-size) !important;
  /* color: var(--mff-urlbar-results-color) !important; */
}

.urlbarView-url, .search-panel-one-offs-container {
  /* color: var(--mff-urlbar-results-url-color) !important; */
  font-family: var(--mff-urlbar-font-family);
  font-weight: var(--mff-urlbar-results-font-weight);
  font-size: var(--mff-urlbar-font-size) !important;
}

#urlbar-input {
  font-size: var(--mff-urlbar-font-size) !important;
  /* color: var(--mff-urlbar-color) !important; */
  font-family: var(--mff-urlbar-font-family) !important;
  font-weight: var(--mff-urlbar-font-weight)!important;
  text-align: center !important;
}

toolbar {
  background-image: none !important;
}

#urlbar-background {
  opacity: .98 !important;
}

#navigator-toolbox, toolbaritem {
  border: none !important;
}

#urlbar-background {
  background-color: #282828 !important;
  border: none !important;
}
 
#navigator-toolbox:not(:focus-within):not(:hover) {
    margin-top: -38px;
}
#navigator-toolbox:hover:(:focus-within) {
	margin-top: -38px;
  }

#navigator-toolbox {
    transition: 0.2s margin-top ease-out;
}

.toolbar-items {
  background-color: var(--mff-bg) !important;
}

.urlbarView-row[type="bookmark"] > span{
  color: #7DAEA3 !important;
}

.urlbarView-row[type="switchtab"] > span{
  color: orange !important;
}

#urlbar {
  max-width: 70% !important;
  margin: 0 15% !important;
  /* 	position: unset!important; */;
}

/* This positions the tabs under the navaigator container */
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

#scrollbutton-up, #scrollbutton-down {
	border: 0 !important;
}

